@model Web.ViewModels.CaseViewModel

@{
    ViewData["Title"] = "Edit Legal Case";
}

<h1>@ViewData["Title"]</h1>

<hr />

<form asp-action="Edit">

    <vc:Summary></vc:Summary>

    <input type="hidden" asp-for="CaseNumber" />

    <vc:Summary></vc:Summary>

    <div class="form-group">
        <label asp-for="CaseNumber" class="control-label"></label>
        @Html.DisplayFor(model => model.CaseNumber)
    </div>
    <div class="form-group">
        <label asp-for="CourtName" class="control-label"></label>
        <input asp-for="CourtName" class="form-control" />
        <span asp-validation-for="CourtName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NameResponsible" class="control-label"></label>
        <input asp-for="NameResponsible" class="form-control" />
        <span asp-validation-for="NameResponsible" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RegistrationDate" class="control-label"></label>
        @Html.DisplayFor(model => model.RegistrationDate)
    </div>

    <hr />
    <div class="form-group">
        <input type="submit" value="Edit" class="btn btn-primary" />
        <a class="btn btn-info" asp-action="Index">Back</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
